<div class="subnav">
    <!--<a href="/blog.html" class="submenu-item-first">Blog</a> |
    <a href="/books.html" class="submenu-item">Books</a> | -->
    <a href="/table-of-contents.html" class="submenu-item-first">All topics</a> | 
    <a href="/blog.html" class="submenu-item">Blog</a> |
    <!-- <a href="https://twitter.com/riskdeveloper" class="submenu-item">@riskdeveloper</a> | -->
    <!-- <a href="https://www.facebook.com/fullstackpython" class="submenu-item">Facebook</a> | -->
    <a href="https://github.com/makaimc/riskdeveloper.com/tree/gh-pages/source" class="submenu-item">Source</a> 
</div>
